<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="/style/style.css">
  </head>
  <body>
    <div>
      <img class="logo" src="/images/telegraaf_logo.png" alt="Telegraaf logo"></img>
      <br>
      You are now in advanced search mode.
      <br>
      <form action="" method="POST">
        <input class="search_bar" type="text" name="advanced_query" placeholder="Query"><br>
        <input class="search_bar_year" type="text" name="advanced_query_year" placeholder="Year"><br>
        <input class="search_button" type="submit" name="advanced_search" value="Search">
      </form>
    </div>
    {% block results %}
    {% endblock results %}
  </body>
</html>