{% extends "layout.html" %}

{% block content %}
<div class="row">
  <div class="small-12 columns">
    <img class="logo" src="/images/telegraaf_logo.png" alt="Telegraaf logo"></img>
    <form action="" method="POST">
      <input class="search_bar" type="text" name="query" placeholder="Query here"><br>
      <input class="search_button button" type="submit" name="search" value="Search">
    </form>
    <form action="" method="POST">
      <input type="submit" class="advanced_button button" name='advanced' value="Advanced Search">
    </form>
  </div>
</div>
{% endblock %}