{% extends "index.html" %}

{% block results %}
<script src='Chart.min.js'></script>
<canvas id="chart" width="600" height="400"></canvas>
  <ul class="list search_results">
    <h1>De resultaten voor de zoekopdracht: {{ query }}</h1>
    <p>Aantal resultaten: {{ length }}</p>
    <div class="word_cloud">
        <h2>Word cloud</h2>
        <p>{{word_cloud}}</p>
    </div>
    {% for item in results %}
    <div class="result">
      <br>
      <div class="title_date">
          <b>{{ item[0] }}, {{ item[1]}}</b>
      </div>
      <div class="preview">
          {{ item[2] }}
      </div>
      <br>
    </div>
    {% endfor %}
  </ul>
<script>
   // bar chart data
   var barData = {
   labels : [{% for item in labels %}
                  "{{item}}",
              {% endfor %}],
   datasets : [
      {
            fillColor: "rgba(151,187,205,0.2)",
            strokeColor: "rgba(151,187,205,1)",
            pointColor: "rgba(151,187,205,1)",
         data : [{% for item in values %}
                      {{item}},
                    {% endfor %}]
      }
      ]
   }

   // get bar chart canvas
   var mychart = document.getElementById("chart").getContext("2d");

   steps = 10
   max = 10
   // draw bar chart
   new Chart(mychart).Bar(barData, {
        scaleOverride: true,
        scaleSteps: steps,
        scaleStepWidth: Math.ceil(max / steps),
        scaleStartValue: 0,
        scaleShowVerticalLines: true,
        scaleShowGridLines : true,
        barShowStroke : true,
        scaleShowLabels: true
   });

</script>
{% endblock results %}
