{% extends "index.html" %}

{% block results %}
  <ul class="list search_results">
    <h1>De resultaten voor de zoekopdracht: {{ query }}</h1>
    <p>Aantal resultaten: {{ length }}</p>
    <div class="word_cloud">
        <h2>Word cloud</h2>
        <p>{{word_cloud}}</p>
    </div>
    {% for item in results %}
    <div class="result">
      <br>
      <div class="title_date">
          <b>{{ item[0] }}, {{ item[1]}}</b>
      </div>
      <div class="preview">
          {{ item[2] }}
      </div>
      <br>
    </div>
    {% endfor %}
  </ul>
{% endblock results %}
