{% extends "index.html" %}

{% block head %}
<script src='js/Chart.min.js'></script>
{% endblock %}

{% block content %}
{{ super() }}

<div class="row">
  <div class="small-12 columns">
    <h2>Timeline</h2>
    <canvas id="chart" height="400"></canvas>
  </div>
</div>

<div class="row">
  <div class="small-12 large-3 columns">
    <h4>Facetten</h4>
    <ul class="facets">
      {% for facet in facets %}
        <li><a href="?query={{ query }}&search=Search&facet={{ facet }}">{{ facet }}</a></li>
      {% endfor %}
    </ul>
  </div>

  <div class="small-12 large-9 columns">
    <h1>De resultaten voor de zoekopdracht: {{ query }}</h1>
    <p>Aantal resultaten: {{ length }}</p>
    <div class="word_cloud">
      <h2>Word cloud</h2>
      <p>{{word_cloud}}</p>
    </div>

    {% for item in results %}
    <div class="row results">
      <div class="small-12 columns">
        <b>{{ item[0] }}, {{ item[1]}}</b>
      </div>

      <div class="small-12 columns">
        {{ item[2] }}
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<script>
   // bar chart data
   var barData = {
   labels : [{% for item in labels %}
                  "{{item}}",
              {% endfor %}],
   datasets : [
      {
            fillColor: "rgba(151,187,205,0.2)",
            strokeColor: "rgba(151,187,205,1)",
            pointColor: "rgba(151,187,205,1)",
         data : [{% for item in values %}
                      {{item}},
                    {% endfor %}]
      }
      ]
   }
   // get bar chart canvas
   var mychart = document.getElementById("chart").getContext("2d");
   steps = 10
   max = 10
   // draw bar chart
   new Chart(mychart).Bar(barData, {
        scaleOverride: true,
        scaleSteps: steps,
        scaleStepWidth: Math.ceil(max / steps),
        scaleStartValue: 0,
        scaleShowVerticalLines: true,
        scaleShowGridLines : true,
        barShowStroke : true,
        scaleShowLabels: true
   });
</script>
{% endblock %}
